.background-header {
    background-image: url("../../assets/bot-header.jpg");
    background-repeat: no-repeat;
    background-position: 50% 75%;
    width: 100%;
    height: 300px;
    background-size: cover;
  }