.container {
  max-width: 1170px;
}

.segment-container {
  .segment-info {
    margin-top: 2.5rem;
    font-size: 20px;
    font-weight: 500;
    .detail-wrap {
      .nav-tabs{
        border-bottom: none;
      }
      .select-time {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
        .active {
          color: white;
          background-color: #004618;
        }
        button {
          width: 15rem;
          padding: 0 4rem;
          border: solid black 2px;
          @media (max-width: 768px) {
            width: 5rem;
            text-align: center;
            justify-content: center;
            display: flex;
          }
        }
        a {
          text-decoration: none;
        }
      }
      .special {
        gap: 1rem;
        button {
          width: 15rem;
          padding: 0 4rem;
          background: white;
          color: black;
          border: black 1px solid;
          border-radius: 0px;
          text-decoration: none;
        }


        .active{
          background:#004618 ;
          color: white;
        }
      }
    }
  }
  .line {
    width: 100%;
    border-top: 1px dotted rgb(153, 152, 152);
    margin-top: 3rem;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .select-seat-container {
    margin-top: 0.5rem;

    .top {
      margin: 0 auto;
      width: 70%;
      @media (max-width: 768px) {
        margin-top: 2rem;
        display: flex;
        width: auto;
        flex-wrap: wrap;
      }
      @media (max-width: 768px) {
        .seat-info-item {
          width: 50%;
        }
      }

      img {
        width: 25px;
      }
    }

    .bottom {
      // overflow: auto;
      @media (max-width: 768px) {
        overflow-x: auto;
        position: relative;
      }
      .ship-container {
        max-width: 846px;
        min-height: 400px;
        background-image: url("../../assets/ship_layout.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 0 0;
        gap: 1px;
        text-align: left;
        @media (max-width: 768px) {
          min-width: 846px;
        }
        .seat {
          width: 33px;
          height: 33px;
          padding-top: 0px;
          padding-right: 0px;
          margin-bottom: 0px;
          padding-left: 0px;
          line-height: 33px;
          background-image: url("../../assets//empty-seat.png");
          background-size: contain;
          font-size: 13px;
          cursor: pointer;
          position: relative;
          display: inline-block;
          .popuptext {
            visibility: hidden;
            padding: 225px;
            width: 420px;
            background-color: white;
            color: black;
            text-align: left;
            border-radius: 6px;
            padding: 8px 0;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            // top: 100%;
            left: 100%;
            margin-left: -230px;
            opacity: 0;
            transition: opacity 1s;
            box-shadow: 5px 5px 5px 5px rgb(121, 120, 120);
            @media (max-width: 768px) {
              position: fixed;
              bottom: 50%; /* Cố định popup ở dưới cùng của màn hình */
              transform: translateX(-52%);
              width: 100%; /* Đảm bảo popup không vượt quá chiều rộng của màn hình */
              z-index: 1000;
              margin-left: -180px;
            }
            .infor {
              padding: 3px 15px;
              line-height: auto;
              h4 {
                text-align: center;
              }
            }
            label {
              margin-top: 1rem;
              display: flex;
              justify-content: start;
              align-items: start;
              cursor: pointer;
              .text {
                font-size: 13px;
                line-height: 2rem;
                padding-left: 0.3rem;
                span {
                  font-weight: normal;
                }
                p {
                  color: red;
                }
              }
            }
            label:hover {
              background-color: #d6efef;
            }
            p {
              padding: 0;
              margin: 0;
              font-size: 13px;
            }
          }
          .popuptext:after {
            content: "";
            position: absolute;

            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: white transparent transparent transparent;
            @media (max-width: 768px) {
              display: none;
            }
          }
          .show {
            visibility: visible;
            opacity: 1;
          }
        }
        .reserved {
          background-image: url("../../assets/reserved-seat.png");
          color: red;
        }
        .selecting {
          color: green;
          background-image: url("../../assets/selecting-seat.png");
        }
        .saleoff {
          color: red;
          background-image: url("../../assets/saleoff-seat.png");
        }

        table {
          float: left;
        }
        td {
          padding: 0;
        }
      }
    }
  }
  .book-sidebar {
    margin-top: 2.5rem;

    .price-info {
      display: block;
      .title {
        padding: 8px 5px 5px 5px;
        background-color: #24bcd3;
        color: #fff;
      }
      .content {
        border: 1px solid black;
        padding: 5px 10px;
        .nav-tab {
          padding-top: 1rem;
          padding-bottom: 1rem;
          border-bottom: solid 1px #24bdc3;
          .wrap-nav-tab {
            border-bottom: solid 1px #24bdc3;
          }
          h4 {
            text-align: center;
          }
          .item {
            display: flex;
            justify-content: space-between;

            .seat-item {
              flex: 1;
              float: left;
              font-weight: 500;
            }
            .time-item {
              flex: 1;
              float: left;
              font-weight: 400 !important;
            }
            i {
              font-size: 16px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: red;
              cursor: pointer;
            }
          }
          .nav-item {
            padding-top: 1rem;
          }
          a {
            border-bottom: 2px solid #1890ff;
            text-decoration: none;
            color: black;
            padding: 0px 0 10px 0;
            position: relative;
          }
        }
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
        }
        .tab-content {
          padding: 0;
          .prices {
            margin-top: 5px;
            padding-top: 5px;
            h4 {
              text-align: center;
            }
            .item {
              display: flex;
              flex-direction: row;
              line-height: 25px;
              .name {
                flex: 1;
                font-weight: 300;
              }
              .price {
                flex: 1;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
  .btn-btm {
    margin-bottom: 5rem;
    button {
      margin-top: 2rem;
      padding: 10px 60px 10px 10px;
      overflow: hidden;
      border: none;
      font-family: inherit;
      font-size: inherit;
      background: none;
      cursor: pointer;
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 400;
      outline: none;
      position: relative;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      background: #00552b;
      color: #fff;
    }
    button:before {
      font-family: "FontAwesome";
      content: "\f178";
      right: 0;
      z-index: 2;
      position: absolute;
      height: 100%;
      left: auto;
      top: 0;
      line-height: 40px;
      font-size: 110%;
      width: 35px;
    }
    button:after {
      content: "";
      width: 30%;
      height: 200%;
      background: rgba(255, 255, 255, 0.1);
      z-index: 1;
      right: 0;
      top: 0;
      margin: -5px 0 0 -5px;
      -webkit-transform-origin: 0 0;
      -webkit-transform: rotate(-20deg);
      -moz-transform-origin: 0 0;
      -moz-transform: rotate(-20deg);
      -ms-transform-origin: 0 0;
      -ms-transform: rotate(-20deg);
      transform-origin: 0 0;
      transform: rotate(-20deg);
      position: absolute;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
}
