.footer {
  width: 100%;
  background-color: #353535;
  height: auto;
  .top-footer {
    background-image: url("https://greenlines-dp.com/images/footer-top-bg.png");
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 0.3rem;
    .btn-1{
        font-size: 2rem;
        min-width: 300px;
        @media (max-width:768px) {
            min-width: 150px;
        }
    }
    button{
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border:none;
        background-color: white;
    }
    @media (max-width: 768px) {
      height: 120px;
    }
  }
  .content {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    font-size: 12px;
    color: white;
    @media (max-width: 768px) {
      display: block;
      gap: 2rem;
    }
    .content-item {
      @media (max-width: 768px) {
        padding: 1rem 0;
      }
    }
  }
  .footer-bottom {
    background-color: #212121;
    color: white;
    .wrap {
      display: flex;

      @media (max-width: 768px) {
        display: block;
      }
      .right {
        display: flex;
        justify-content: end;
        align-items: center;
        @media (max-width: 768px) {
          justify-content: center;
        }
        img {
          width: 120px;
        }
      }
    }
  }
}
.hide{
  display: none!important;
}