@charset "UTF-8";
.trip12AM .line {
  width: 100%;
  border-top: 1px dotted rgb(153, 152, 152);
  margin-top: 3rem;
}
@media (max-width: 768px) {
  .trip12AM .line {
    display: none;
  }
}
.trip12AM .select-seat-container {
  margin-top: 0.5rem;
  font-size: 14px;
}
.trip12AM .select-seat-container .top {
  margin: 0 auto;
  width: 70%;
}
@media (max-width: 768px) {
  .trip12AM .select-seat-container .top {
    margin-top: 2rem;
    display: flex;
    width: auto;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .trip12AM .select-seat-container .top .seat-info-item {
    width: 50%;
  }
}
.trip12AM .select-seat-container .top img {
  width: 25px;
}
@media (max-width: 768px) {
  .trip12AM .select-seat-container .bottom {
    overflow-x: auto;
    position: relative;
  }
}
.trip12AM .select-seat-container .bottom .ship-container {
  max-width: 846px;
  min-height: 400px;
  background-image: url("../../assets/ship_layout.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  gap: 1px;
  text-align: left;
}
@media (max-width: 768px) {
  .trip12AM .select-seat-container .bottom .ship-container {
    min-width: 846px;
  }
}
.trip12AM .select-seat-container .bottom .ship-container .seat {
  width: 33px;
  height: 33px;
  padding-top: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  line-height: 33px;
  background-image: url("../../assets//empty-seat.png");
  background-size: contain;
  font-size: 13px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.trip12AM .select-seat-container .bottom .ship-container .seat .popuptext {
  visibility: hidden;
  padding: 225px;
  width: 420px;
  background-color: white;
  color: black;
  text-align: left;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 100%;
  margin-left: -230px;
  opacity: 0;
  transition: opacity 1s;
  box-shadow: 5px 5px 5px 5px rgb(121, 120, 120);
}
@media (max-width: 768px) {
  .trip12AM .select-seat-container .bottom .ship-container .seat .popuptext {
    position: fixed;
    bottom: 50%; /* Cố định popup ở dưới cùng của màn hình */
    transform: translateX(-52%);
    width: 100%; /* Đảm bảo popup không vượt quá chiều rộng của màn hình */
    z-index: 1000;
    margin-left: -180px;
  }
}
.trip12AM .select-seat-container .bottom .ship-container .seat .popuptext .infor {
  padding: 3px 15px;
  line-height: auto;
}
.trip12AM .select-seat-container .bottom .ship-container .seat .popuptext .infor h4 {
  text-align: center;
}
.trip12AM .select-seat-container .bottom .ship-container .seat .popuptext label {
  margin-top: 1rem;
  display: flex;
  justify-content: start;
  align-items: start;
  cursor: pointer;
}
.trip12AM .select-seat-container .bottom .ship-container .seat .popuptext label .text {
  font-size: 13px;
  line-height: 2rem;
  padding-left: 0.3rem;
}
.trip12AM .select-seat-container .bottom .ship-container .seat .popuptext label .text span {
  font-weight: normal;
}
.trip12AM .select-seat-container .bottom .ship-container .seat .popuptext label .text p {
  color: red;
}
.trip12AM .select-seat-container .bottom .ship-container .seat .popuptext label:hover {
  background-color: #d6efef;
}
.trip12AM .select-seat-container .bottom .ship-container .seat .popuptext p {
  padding: 0;
  margin: 0;
  font-size: 13px;
}
.trip12AM .select-seat-container .bottom .ship-container .seat .popuptext:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
@media (max-width: 768px) {
  .trip12AM .select-seat-container .bottom .ship-container .seat .popuptext:after {
    display: none;
  }
}
.trip12AM .select-seat-container .bottom .ship-container .seat .show {
  visibility: visible;
  opacity: 1;
}
.trip12AM .select-seat-container .bottom .ship-container .reserved {
  background-image: url("../../assets/reserved-seat.png");
  color: red;
}
.trip12AM .select-seat-container .bottom .ship-container .selecting {
  color: green;
  background-image: url("../../assets/selecting-seat.png");
}
.trip12AM .select-seat-container .bottom .ship-container .saleoff {
  color: red;
  background-image: url("../../assets/saleoff-seat.png");
}
.trip12AM .select-seat-container .bottom .ship-container table {
  float: left;
}
.trip12AM .select-seat-container .bottom .ship-container td {
  padding: 0;
}/*# sourceMappingURL=trip12AM.css.map */